<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Restablecer contraseña - Food & Move</title>
  </head>
  <body>
    <p>As solicitado un cambio de contraseña para tu cuenta. Para restablecer tu contraseña, por favor haz clic en el siguiente enlace:</p>
    <p>{{url}}.</p>
    <p>Si no solicitaste este cambio, por favor ignora este mensaje. Este enlace expirará en {{time}}, así que por favor restablece tu contraseña lo antes posible.</p>
    <p>Gracias por utilizar nuestra aplicación.</p>
  </body>
</html>
