<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bienvenido a Food & Move</title>
  </head>
  <body>
    <p>¡Bienvenido a Food & Move, {{name}}!</p>
    <p>Tu contraseña para iniciar sesión es: <strong>{{password}}</strong></p>
    <p>Te recomendamos cambiar tu contraseña lo antes posible para mejorar la seguridad de tu cuenta.</p>
    <p>¡Que disfrutes de la aplicación!</p>
    <p>Saludos cordiales</p>
  </body>
</html>
